/* Colors */
$color-red: #FF4A4A;
$color-orange: #FF964A;
$color-yellow: #FFED4A;
$color-green: #4AFF52;
$color-blue: #4A93FF;
$color-purple: #644AFF;

/* Dark Colors */
$color-dark-red: #CA4444;
$color-dark-orange: #C17741;
$color-dark-yellow: #B8AB33;
$color-dark-green: #31B237;
$color-dark-blue: #4476C0;
$color-dark-purple: #4137B9;

/* Background Colors */
$background-dark: #242424;
$second-dark: #474747;
$third-dark: #656565;

$background-light: #CECECE;
$second-light: #C8C8C8;
$third-light: #909090;

/* Font Sizes */
$font-size-default: clamp(1rem, 1.5vw, 2rem);